{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "ignorePatterns": ["dist/**/*", "webpack.config.js"],
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "endOfLine": "auto"
      }
    ]
  }
}
